.top-container{
  background-color: #d3edee;
  text-align: center;
}
.bottom-container{
  background-color: #d3edee;
  text-align: center;
  height: 250px;
}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.grass{
  height: 500px;
  position: relative;
  margin: 210px;
  top: 210px;
}
.myname{
  color: #117cb2;
  font-size: 72px;
  position: absolute;
  top: 200px;
  left: 43%;
  font-family: 'Dancing Script', cursive;
}
.myname2{
  color: #117cb2;
  font-size: 36px;
  position: absolute;
  top: 300px;
  left: 36%;
  font-family: 'Kanit', sans-serif;
}
.profile-pik{
  text-align: center;
  /* position: relative;
  left: 700px; */
  height: 300px;
  width: 300px;
}
 .details-font{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: bold;
   font-size: 22px;
 }


 .gif1{
   border-radius: 50%;
   height: 400px;
   width: 600px;
 }
 .gif2{
  border-radius: 50%;
  height: 400px;
  width: 500px;
}

span{
  color: #117cb2;
  font-size: 16px;
}
span:hover{
  color: black;
}

.contact-details{
  float: right;
}
@media only screen and (max-width: 980px) {
  .top-container{
    background-color: #d3edee;
    text-align: center;
    position: relative;
  }
  .bottom-container{
    background-color: #d3edee;
    text-align: center;
    height: 250px;
  }
  *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  .grass{
    height: 500px;
    position: relative;
    right: 120px;
    margin: 210px;
    top: 210px;
  }
  .myname{
    color: #117cb2;
    font-size: 72px;
    position: absolute;
    top: 200px;
    left: 35%;
    font-family: 'Dancing Script', cursive;
  }
  .myname2{
    color: #117cb2;
    font-size: 36px;
    position: absolute;
    top: 300px;
    left: 24%;
    font-family: 'Kanit', sans-serif;
  }
  .profile-pik{
    text-align: center;
    /* position: relative;
    left: 700px; */
    height: 300px;
    width: 300px;
  }
   .details-font{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
     font-size: 22px;
   }
  
  
   .gif1{
     border-radius: 50%;
     height: 400px;
     width: 600px;
   }
   .gif2{
    border-radius: 50%;
    height: 400px;
    width: 500px;
  }
  
  span{
    color: #117cb2;
    font-size: 16px;
  }
  span:hover{
    color: black;
  }
  
  .contact-details{
    float: right;
  }
}
@media only screen and (max-width: 480px) {
  .top-container{
    background-color: #d3edee;
    text-align: center;
    position: relative;
  }
  .bottom-container{
    background-color: #d3edee;
    text-align: center;
    height: 250px;
  }
  *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  .grass{
    height: 500px;
    position: relative;
    right: 120px;
    margin: 210px;
    top: 210px;
  }
  .myname{
    color: #117cb2;
    font-size: 72px;
    position: absolute;
    top: 200px;
    left: 35%;
    font-family: 'Dancing Script', cursive;
  }
  .myname2{
    color: #117cb2;
    font-size: 36px;
    position: absolute;
    top: 300px;
    left: 24%;
    font-family: 'Kanit', sans-serif;
  }
  .profile-pik{
    text-align: center;
    /* position: relative;
    left: 700px; */
    height: 300px;
    width: 300px;
  }
   .details-font{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
     font-size: 22px;
   }
  
  
   .gif1{
     border-radius: 50%;
     height: 400px;
     width: 600px;
   }
   .gif2{
    border-radius: 50%;
    height: 400px;
    width: 500px;
  }
  
  span{
    color: #117cb2;
    font-size: 16px;
  }
  span:hover{
    color: black;
  }
  
  .contact-details{
    float: right;
  }
}
@media only screen and (max-width: 980px) {
  .top-container{
    background-color: #d3edee;
    text-align: center;
    position: relative;
    width: 2000px;
  }
  .bottom-container{
    background-color: #d3edee;
    text-align: center;
    height: 250px;
    width: 2000px;
  }
  *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  .grass{
    height: 500px;
    position: relative;
    right: 160px;
    margin: 210px;
    top: 210px;
  }
  .myname{
    color: #117cb2;
    font-size: 72px;
    position: absolute;
    top: 200px;
    left: 35%;
    font-family: 'Dancing Script', cursive;
  }
  .myname2{
    color: #117cb2;
    font-size: 36px;
    position: absolute;
    top: 300px;
    left: 28%;
    font-family: 'Kanit', sans-serif;
  }
  .profile-pik{
    text-align: center;
    /* position: relative;
    left: 700px; */
    height: 300px;
    width: 300px;
  }
   .details-font{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
     font-size: 22px;
   }
  section{
    margin-left: 600px;
  }

  
   .gif1{
     border-radius: 50%;
     height: 400px;
     width: 600px;
    position: relative;
    right: 100px;
   }
   .gif2{
    border-radius: 50%;
    height: 400px;
    width: 500px;
    position: relative;
    right: 50px;
  }
  
  span{
    color: #117cb2;
    font-size: 16px;
    position: relative;
    right: 200px;

  }
  i{
    position: relative;
    right: 200px;
  }
  span:hover{
    color: black;
  }
  
  .contact-details{
    float: right;
  }

}
@media only screen and (max-width: 900px) {
  .top-container{
    background-color: #d3edee;
    text-align: center;
    position: relative;
    width: 2000px;
  }
  .bottom-container{
    background-color: #d3edee;
    text-align: center;
    height: 250px;
    width: 2000px;
  }
  *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  .grass{
    height: 500px;
    position: relative;
    right: 160px;
    margin: 210px;
    top: 210px;
  }
  .myname{
    color: #117cb2;
    font-size: 72px;
    position: absolute;
    top: 200px;
    left: 35%;
    font-family: 'Dancing Script', cursive;
  }
  .myname2{
    color: #117cb2;
    font-size: 36px;
    position: absolute;
    top: 300px;
    left: 28%;
    font-family: 'Kanit', sans-serif;
  }
  .profile-pik{
    text-align: center;
    /* position: relative;
    left: 700px; */
    height: 300px;
    width: 300px;
  }
   .details-font{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
     font-size: 22px;
   }
  section{
    margin-left: 600px;
  }

  
   .gif1{
     border-radius: 50%;
     height: 400px;
     width: 600px;
    position: relative;
    right: 100px;
   }
   .gif2{
    border-radius: 50%;
    height: 400px;
    width: 500px;
    position: relative;
    right: 50px;
  }
  
  span{
    color: #117cb2;
    font-size: 16px;
    position: relative;
    right: 200px;

  }
  i{
    position: relative;
    right: 200px;
  }
  span:hover{
    color: black;
  }
  
  .contact-details{
    float: right;
  }
}